.loader {
    border: 16px solid #333333ff; /* Light grey */
    border-top: 16px solid #aa8800ff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    z-index: 1;
    margin: -200px 0 0 -60px;
    opacity: 0.8;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }